/* TODO Add site wide styles */
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

* {
  margin: 0;
  background-color: whitesmoke;
  padding: 0;
}

*:focus {
  outline: none;
}
