.loading-container {
  width: 180px;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
}

.loading-circle {
  display: block;
  width: 40px;
  height: 40px;
  background-color: lightblue;
  border-radius: 50%;
}
