.user {
    display: flex;
    align-content: center;
    padding: 15px 0;
    background-color: white;
}

.user * {
    background-color: white;
}

.user__profileImg {
    padding-right: 15px;
}

.user__username {
    font-size: 24px;
    font-weight: 500;
}
