.profile {
    display: flex;
    margin-right: 20%;
    margin-left: 20%;
    border-bottom: black 1px solid;
}

.profile__img {
    padding: 0 30px;
    padding-top: 30px;
}

.profile__username {
    font-size: 40px;
    align-self: center;
}

.profile__username-edit {
    display: flex;
    padding-top: 30px;
}

.profile__edit {
    height: 20px;
    padding-left: 30px;
    align-self: center;
}

.profile__editBtn {
    border-radius: 5px;
    font-size: 20px;
    background-color: white;
}

.profile__img__pic {
    font-size: 10rem !important;
}

.profile__posts {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 15px;
}

.counts {
    display: flex;
    padding-top: 15px;
}

.counts__followers {
    padding-left: 30px;
}

.counts__followers span {
    padding-left: 5px;
    font-weight: 700;
}

.counts__post span {
    font-weight: 700;
}

.counts__followers, .counts__post {
    font-size: 20px;
}

.profile__name {
    padding-top: 15px;
}

.profile__bio {
    padding-top: 15px;
}
