.postData {
    width: 100%;
    color: #C0C0C0;
}

.postData * {
    background-color: #C0C0C0;
    color: #191414;
}

.postData img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.postData img:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.postData__caption {
    display: flex;
    font-size: 15px;
    padding: 15px 0;
    height: 30px;
    padding-left: 15px;
}

.postData__caption__data {
    padding-top: 10px;
    overflow: hidden;
}

.postData__caption__data:hover {
    overflow: auto;
}

.postData__star {
    padding-right: 30px;
    margin-right: 5px;
    font-size: 20px !important;
    fill: #E8E8E8;
    padding-top: 5px;
}

.postData__star:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.postData__commentBtn {
    padding-right: 15px;
}

.post__comment {
    display: grid;
    border-bottom: 1px lightgrey solid;
    grid-template-columns: 0.25fr 2fr 0.5fr;
}

.comment {
    height: 150px;
    overflow: hidden;
}

.comment:hover {
    overflow: auto;
}

.post__comment__input {
    border: none;
    background-color: #eeeeee;
    color: black;
    font-size: 16px;
    width: 90%;
    height: 40px;
    padding-left: 15px;
}

.comment-form {
    background-color: #eeeeee;
}

.viewCommentBtn {
    width: 100%;
    border-bottom: 1px none;
    height: 30px;
    background-color: #1DB954;
    color: #191414;
    text-align: center;
    padding-left: 15px;
    font-size: 12px;
    font-weight: 700;
    border: none;
    border-radius: 0 0 10px 10px;
}

.closeCommentBtn {
    width: 100%;
    border-bottom: 1px none;
    height: 30px;
    background-color: #1DB954;
    color: #191414;
    text-align: center;
    padding-left: 15px;
    font-size: 12px;
    font-weight: 700;
    border: none;
}

.viewCommentBtn:hover, .closeCommentBtn:hover {
    cursor: pointer;
    filter: brightness(120%);
}
