.navbar {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 35px;
    padding: 15px;
    background-color: #1DB954;
    align-items: center;
}

.navbar__buttons {
    display: flex;
    justify-content: space-around;
    width: 400px
}

.navbar * {
    background-color: #1DB954;
}

.navbar__name {
    display: flex;
    margin-left: 100px;
}

.navbar__name p {
    align-self: center;
    font-weight: 700;
    padding-right: 15px;
}

.navbar__name img {
    width: 40px;
    background-color: #1DB954;
    border-radius: 50%;
    padding: 5px;
}

.navbar__logoutBtn {
    margin-right: 50px;
}

.homeIcon, .exploreIcon, .photoIcon, .accountIcon {
    color: #191414;
    font-size:  30px !important;
    padding: 0 10px;
}

.accountIcon:hover, .photoIcon:hover, .exploreIcon:hover , .homeIcon:hover{
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.1);
}

.navbar__name {
    font-size: 28px;
    font-weight: 60;
}
